<div class="footer">
    <section class="region">
        <h5 class="region__title">Redes sociales</h5>
        <div class="social">
            <a  href="https://www.instagram.com/subbuteobarakaldo/" 
                class="social__enlace">
                <img    src="assets/media/image/icons/social//instagram.svg" 
                    alt="Instagram" 
                    class="social__icon">
            </a>
            <a  href="https://www.facebook.com/SubbuteoBarakaldo/" 
                class="social__enlace">
                <img    src="assets/media/image/icons/social/facebook.svg" 
                    alt="Facebook" 
                    class="social__icon">
            </a>
            <a  href="https://www.youtube.com/channel/UC3e5PUolY4xTx8vy-6yBuUw" 
                class="social__enlace">
                <img    src="assets/media/image/icons/social/youtube.svg" 
                    alt="Youtube" 
                    class="social__icon">
            </a>
            <a  href="https://twitter.com/SCBarakaldo" 
                class="social__enlace">
                <img    src="assets/media/image/icons/social/twitter.svg" 
                    alt="Twitter" 
                    class="social__icon">
            </a>
        </div>
    </section>
    <section class="region">
        <h5 class="region__title">Paginas amigas</h5>
        <ul class="paginas__amigas">
            <li class="pagina">
                <a  href=""
                    class="pagina__enlace">La Guarida</a>
            </li>
            <li class="pagina">
                <a  href=""
                    class="pagina__enlace">Legion La Guarida</a>
            </li>
            <li class="pagina">
                <a  href=""
                    class="pagina__enlace">AEFM</a>
            </li>
        </ul>
    </section>
    <section class="region">
        <h5 class="region__title">Dónde estamos</h5>
        <p class="region__localizacion">C/ Bagatza 9, Bajo 3. 48902 Barakaldo, Bizkaia.</p>
        <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2903.605666922555!2d-2.9942573999999995!3d43.30157909999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4e5a6dbb8adb5b%3A0x66bbaecafe20e88a!2sLa%20Guarida!5e0!3m2!1ses!2ses!4v1644318990303!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </section>
</div>