<div class="container">
    <img src="assets/media/image/nosotros/nosotros.jpg" 
        alt="Nosotros"
        class="nosotros">
    <p class="parrafo">Subbuteo Club Barakaldo es un equipo inscrito en la Asociación Española de Fútbol Mesa (<a href="http://subbuteoaefm.es/">AEFM</a>) y en el registro general de asociaciones del País Vasco como "Asociación para la promoción del Fútbol Mesa Barakaldo" con número de registro: AS/B/21809/2018.</p>
    <p class="parrafo">
        Somos una asociación sin ánimo de lucro cuya finalidad es la promoción del juego del Fútbol Mesa.
    </p>
</div>