.main__menu{
    /* background-color: #f5cb00; */
    background-color: #1f1f1f;
    height: var(--var--main--menu--hight);
    border-bottom: 1px solid #7777;
    height: 3.5rem;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin: 0;
    width: 100%;
    height: 100%;
}
.list__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .2s, filter .2s;
}
.item__icon{
    width: 1rem;
    transition: filter .3s, border .3s;
}
.list__item:hover, .active{
    cursor: default;
}
.list__item:hover:not(:active), .active{
    cursor: pointer;
    filter: invert(.4);
    transform: scale(1.1);
}
.item__icon:active{
    transform: scale(1.1);
}
.item__title{
    color: #f5cb00;
    font-size: 0.7rem;
}
.main__menu{
    width: 100%;
    border-top: 1px solid #7777;
}